valle.egg-info/
__pycache__
path.sh
exp
exp*/
*.pt
log
.DS_Store
.vscode
egs/*/data
egs/libritts/prompts/*.png
valle/version.py
infer/
egs/uaspeech/uaspeechReport.log
egs/uaspeech/download/*
data/tokenized/unique_text_tokens.k2symbols
egs/uaspeech/uaspeechForCluster.zip
egs/libritts/*
egs/uaspeech/aanchan*
egs/uaspeech/bug*
egs/uaspeech/og_valle*
egs/uaspeech/uaspeech*
egs/uaspeech/tensorboard*
egs/uaspeech/uaspeech/*
egs/uaspeech/linguistic_input*
egs/uaspeech/uaspeech_run*
egs/uaspeech/typical_test*
egs/uaspeech/like_pairs*
egs/uaspeech/similar_sounding_control_pairs*
egs/uaspeech/src_tgt_cuts.json
egs/uaspeech/src_tgt_cuts.jsonl.gz
egs/uaspeech/output.json
egs/uaspeech/h5reader.py
egs/uaspeech/atypical_speakers_testH5.json
egs/uaspeech/audioSamples/*
egs/uaspeech/#output_exp.log#
egs/uaspeech/output_exp.log
egs/uaspeech/typical_speakers_devH5.json
egs/uaspeech/typical_speakers_testH5.json
egs/uaspeech/typical_speakers_trainH5.json
egs/uaspeech/new*