valle.egg-info/
__pycache__
path.sh
exp
exp*/
*.pt
log
.DS_Store
.vscode
egs/*/data
egs/libritts/prompts/*.png
valle/version.py
infer/
egs/uaspeech/uaspeechReport.log
egs/uaspeech/download/*
data/tokenized/unique_text_tokens.k2symbols
egs/uaspeech/uaspeechForCluster.zip
egs/libritts/*
egs/uaspeech/uaspeechTrainStage1/*
egs/uaspeech/uaspeechTrainStage2/*
egs/uaspeech/tensorboard_stage1/*
egs/uaspeech/tensorboard_stage2/*
egs/uaspeech/uaspeech/*
egs/uaspeech/uaspeech_run*
egs/uaspeech/typical_test*
egs/uaspeech/like_pairs*
egs/uaspeech/similar_sounding_control_pairs*
egs/uaspeech/src_tgt_cuts.json
egs/uaspeech/src_tgt_cuts.jsonl.gz
egs/uaspeech/output.json
egs/uaspeech/h5reader.py
egs/uaspeech/atypical_speakers_testH5.json
egs/uaspeech/audioSamples/*
