valle.egg-info/
__pycache__
path.sh
exp
exp*/
*.pt
log
.DS_Store
.vscode
egs/*/data
egs/libritts/prompts/*.png
valle/version.py
infer/
egs/uaspeech/uaspeechReport.log
egs/uaspeech/download/uaspeech_cerebral_recordings_all.jsonl.gz
egs/uaspeech/download/uaspeech_cerebral_supervisions_all.jsonl.gz
egs/uaspeech/download/uaspeech_control_recordings_all.jsonl.gz
egs/uaspeech/download/uaspeech_control_supervisions_all.jsonl.gz
data/tokenized/unique_text_tokens.k2symbols
egs/uaspeech/uaspeechForCluster.zip
egs/libritts/unique_text_tokens.k2symbols
egs/uaspeech/uaspeechTrainStage1/*
egs/uaspeech/uaspeechTrainStage2/*
egs/uaspeech/tensorboard_stage1/*
egs/uaspeech/tensorboard_stage2/*
egs/uaspeech/egs/uaspeech/model.txt
egs/uaspeech/uaspeech/*
egs/uaspeech/uaspeech_run2/*
egs/uaspeech/uaspeech_run3/*
egs/uaspeech/uaspeech_run4/*
egs/uaspeech/uaspeech_run5/*
egs/uaspeech/src_tgt_cuts.json
egs/uaspeech/src_tgt_cuts.jsonl.gz
egs/uaspeech/output.json
egs/uaspeech/h5reader.py
egs/uaspeech/atypical_speakers_testH5.json
