absl-py==2.1.0
astunparse==1.6.3
attrs==23.2.0
audioread==3.0.1
Babel==2.14.0
bibtexparser==2.0.0b6
black==22.3.0
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
clldutils==3.22.1
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
contourpy==1.2.0
csvw==3.3.0
cycler==0.12.1
cytoolz==0.12.3
decorator==5.1.1
dill==0.3.8
dlinfo==1.2.1
docopt==0.6.2
einops==0.7.0
encodec==0.1.1
flatbuffers==24.3.25
fonttools==4.47.2
gast==0.6.0
google-auth==2.27.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
graphviz==0.20.1
grpcio==1.60.0
h5py==3.10.0
humanfriendly==10.0
idna==3.6
intervaltree==3.1.0
isodate==0.6.1
joblib==1.3.2
jq==1.7.0
json5==0.9.25
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
k2 @ https://huggingface.co/csukuangfj/k2/resolve/main/cuda/k2-1.23.4.dev20230224+cuda11.6.torch1.13.1-cp310-cp310-linux_x86_64.whl#sha256=398ac8ff96e11c9c6d9edde6fbed1cb126109327e1802b28970f043b35810a59
kaldi-decoder==0.2.3
kaldialign==0.7.2
kaldifst==1.7.8
kaldilm==1.15.1
keras==3.5.0
kiwisolver==1.4.5
language-tags==1.2.0
lhotse @ git+https://github.com/lhotse-speech/lhotse@f8934bbbddd2860856c61e00cfabfe19c692d247
libclang==18.1.1
librosa==0.8.1
lilcom==1.7
llvmlite==0.41.1
lxml==5.1.0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.4
matplotlib==3.8.2
mdurl==0.1.2
ml-dtypes==0.4.0
mpmath==1.3.0
mypy-extensions==1.0.0
namex==0.0.8
natsort==8.4.0
num2words==0.5.13
numba==0.58.1
numpy==1.26.3
nvidia-cuda-runtime-cu12==12.6.37
oauthlib==3.2.2
onnx==1.15.0
onnxruntime==1.16.3
opt-einsum==3.3.0
optree==0.12.1
packaging==23.2
pathspec==0.12.1
phonemizer==3.2.1
pillow==10.2.0
platformdirs==4.2.0
pooch==1.8.0
protobuf==4.23.4
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.18.0
pylatexenc==2.10
pyparsing==3.1.1
pypinyin==0.48.0
python-dateutil==2.8.2
PyYAML==6.0.1
rdflib==7.0.0
referencing==0.33.0
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
resampy==0.4.2
rfc3986==1.5.0
rich==13.7.1
rpds-py==0.17.1
rsa==4.9
scikit-learn==1.4.0
scipy==1.12.0
segments==2.2.1
sentencepiece==0.1.99
six==1.16.0
sortedcontainers==2.4.0
soundfile==0.12.1
sympy==1.12
tabulate==0.9.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.37.1
tensorrt==10.3.0
tensorrt-cu12==10.3.0
tensorrt-cu12-bindings==10.3.0
tensorrt-cu12-libs==10.3.0
termcolor==2.4.0
threadpoolctl==3.2.0
tomli==2.0.1
toolz==0.12.1
torch==1.13.1+cu116
torchaudio==0.13.1+cu116
torchmetrics==0.11.1
tqdm==4.66.1
typeguard==4.1.5
typing_extensions==4.9.0
uritemplate==4.1.1
urllib3==2.2.0
-e git+https://github.com/SlangLab-NU/VallE.git@bfaa766d2f80f0168843111dfa43dfa0bfe771ea#egg=valle
Werkzeug==3.0.1
wrapt==1.16.0
